.jumbotron {
    margin:18px;
}

.jumbotron h1 {
    color:rgb(51 122 183);
    font-family: 'Comfortaa', cursive;

    
}

.jumbotron p {
    color:rgb(51 122 183)
    font-family: 'Comfortaa', cursive;

}

.white-text h2 {
    color: aliceblue;
    font-family: 'Comfortaa', cursive;

}

.aliceblue-text p {
    color: aliceblue;
    font-family: 'Comfortaa', cursive;

}

.col-md-12 p {
    color: aliceblue;
    font-family: 'Comfortaa', cursive;

}

.row {
    margin:18px;
}

.footer {
    color:rgb(0, 0, 0);
    font-family: 'Comfortaa', cursive;
    background-color: rgb(230, 230, 230);
}

body {
    background-color: rgb(255, 255, 255);
}